<?xml version="1.0"?>

<gameinput>
   <bind action="Quit"        device="Keyboard" input="KEY_ESC"/>
   <bind action="Accelerate"  device="Keyboard" input="KEY_W"/>
   <bind action="Brake"       device="Keyboard" input="KEY_S"/>
   <bind action="HandBrake"   device="Keyboard" input="KEY_SPACE"/>
   <bind action="TurnLeft"    device="Keyboard" input="KEY_A"/>
   <bind action="TurnRight"   device="Keyboard" input="KEY_D"/>
   <bind action="Shoot"       device="Mouse"    input="MOUSEBUTTON_0"/>
   <bind action="MouseLookX" device="Mouse"     input="MOUSEAXIS_X"/>
   <bind action="MouseLookY" device="Mouse"     input="MOUSEAXIS_Y"/>
</gameinput>
